*.code-workspace
.vscode
.vagrant
*.tfstate*
.terraform*
*.env
**/*.env
**/*/storage
cloud/systems/clients/*
!cloud/systems/clients/xpto

cloud/images/*/config/bin/backup.sh
cloud/images/*/config/bin/healthcheck.sh
cloud/images/*/config/bin/config_dns.sh
cloud/images/*/config/bin/lib
