#######################################################
####                  GENERAL VARS                #####
#######################################################

# NUMBER OF CLIENT(is used to define subnet of composer)
CLIENT_ID="1"
# NAME OF CLIENT(is used to define composer vars(pathname, network_name, ...))
CLIENT_NAME="xpto"

# NAME OF THE CONTEXT COMPOSER/AMBIENT/CLIENT
CONTEXT_NAME="clients/${CLIENT_NAME}"

# PATH LOCATION ON THE STOAGE DATA WILL BE RECORDED
STORAGE_ROOT_PATH="../../../storage/"

# PATH LOCATION ON THE IMAGES TO BUILD ARE CREATED
IMAGE_ROOT_PATH="../../../images/"

# Set or change pre-defined environment variables in Docker Compose(https://docs.docker.com/compose/how-tos/environment-variables/envvars/)
COMPOSE_PROJECT_NAME="client_${CLIENT_NAME}"


COMPOSE_PROFILES="apache"

#######################################################
#####                    NETWORK                  #####
#######################################################

# ==============  TOPOLOGY ===============
#
#  
#  net_srv_public(bridge driver on eth0)   
#    |
#    |
#    |            net_srv_private(allowed to access internet, but not exposed, communication between containers IS allowed)
#    |                 | 
#    |                 |
#    |----  NGINX   ---|
#    |                 |
#    |---- HA PROXY ---|
#    |                 |
#    |----   FRR    ---|
#    |                 |
#                      |
#                      |---- mariadb
#                      |
#                      |
#                      |---- WordPress
#                      |
#                      |
#                      |---- APP_X
#                      |
#                      |
#                      |---- APP_Y
#                      |
#                      |
#
#
# ======================================


################# NETWORK TO PRIVATE SERVERS
#DOCKER_NETWORK_SRV_PRIVATE_NAME="net_srv_private"
DOCKER_NETWORK_SRV_PRIVATE_DRIVER_MODE="bridge"
#DOCKER_NETWORK_SRV_PRIVATE_PARENT_INTERFACE=${HOST_PARENT_INTERFACE}
DOCKER_NETWORK_SRV_PRIVATE_SUBNET_IPV4="10.172.${CLIENT_ID}.0/24"
DOCKER_NETWORK_SRV_PRIVATE_GATEWAY_IPV4="10.172.${CLIENT_ID}.1"


#######################################################
#####                   SERVICES                  #####
#######################################################

# BASE VARS
DNS_SERVER_DOMAIN="domain.tld"
DNS_SERVER_IPS="8.8.8.8 1.1.1.1"

##################################

# MARIADB_WORDPRESS ############################################
MARIADB_WORDPRESS_DOCKER_NETWORK_SRV_PRIVATE_IPV4="10.172.${CLIENT_ID}.20"

#MARIADB_WORDPRESS_DNS_SERVER_DOMAIN=$DNS_SERVER_DOMAIN
#MARIADB_WORDPRESS_DNS_SERVER_IPS=$DNS_SERVER_IPS

MARIADB_WORDPRESS_DATABASE_ROOT_PASS="superpass"
MARIADB_WORDPRESS_DATABASE="database_wordpress_${CLIENT_NAME}"
MARIADB_WORDPRESS_USER="super_user_wordpress_${CLIENT_NAME}"
MARIADB_WORDPRESS_PASSWORD="super_password"


# wordpress ############################################
WORDPRESS_DOCKER_NETWORK_SRV_PRIVATE_IPV4="10.172.${CLIENT_ID}.21"

#WORDPRESS_DNS_SERVER_IPS=$DNS_SERVER_IPS
#WORDPRESS_DNS_SERVER_DOMAIN=$DNS_SERVER_DOMAIN


WORDPRESS_SYSTEM_NAME="${CLIENT_NAME}"

WORDPRESS_DATABASE_HOST="mariadb_wordpress"
# WORDPRESS_DATABASE_CONFIG_MODE:
#   - MASTER : DATABASE SERVER CREATE USER, PASSWORD AND SCHEMA
#   - SLAVE : CLIENT CREATE USER, PASSWORD AND SCHEMA
WORDPRESS_DATABASE_CONFIG_MODE="MASTER"
WORDPRESS_DATABASE_ADMIN_USER=""
WORDPRESS_DATABASE_ADMIN_PASS=""
WORDPRESS_DATABASE_WORDPRESS_USER="${MARIADB_WORDPRESS_USER}"
WORDPRESS_DATABASE_WORDPRESS_PASS="${MARIADB_WORDPRESS_PASSWORD}"
WORDPRESS_DATABASE_NAME_WORDPRESS="${MARIADB_WORDPRESS_DATABASE}"

WORDPRESS_WP_PLUGINS="advanced-google-recaptcha classic-editor code-block-pro companion-auto-update ewww-image-optimizer git-it-write litespeed-cache mathjax-latex merpress microthemer google-site-kit ultimate-addons-for-gutenberg updraftplus wordfence insert-headers-and-footers wp-mail-smtp wp-statistics wp-super-cache wordpress-seo"
WORDPRESS_WP_THEMES="hueman"
WORDPRESS_WP_SITE_URL="blog.${DNS_SERVER_DOMAIN}"
WORDPRESS_WP_SITE_TITLE="${WORDPRESS_SYSTEM_NAME} blog"
WORDPRESS_WP_SITE_ADMIN_USER="sysadmin"
WORDPRESS_WP_SITE_ADMIN_PASS="super_password"
WORDPRESS_WP_SITE_ADMIN_EMAIL="${WORDPRESS_WP_SITE_ADMIN_USER}@${DNS_SERVER_DOMAIN}"

# php-fpm ############################################
PHPFPM_DOCKER_NETWORK_SRV_PRIVATE_IPV4="10.172.${CLIENT_ID}.22"


# apache ############################################
APACHE_DOCKER_NETWORK_SRV_PRIVATE_IPV4="10.172.${CLIENT_ID}.23"

#APACHE_DNS_SERVER_IPS=$DNS_SERVER_IPS
#APACHE_DNS_SERVER_DOMAIN=$DNS_SERVER_DOMAIN

APACHE_SYSTEM_NAME="${CLIENT_NAME}"


APACHE_SITE_HTTP_PORT=80
APACHE_SITE_HTTPS_PORT=443
APACHE_SITE_SSL_ENABLED="false"
APACHE_SITE_NAME="${APACHE_SYSTEM_NAME}"
APACHE_SITE_DOMAIN="${DNS_SERVER_DOMAIN}"

# nginx ############################################

NGINX_DOCKER_NETWORK_SRV_PRIVATE_IPV4="10.172.${CLIENT_ID}.24"

# CERTBOT wordpress ###########################################
CERTBOT_DOCKER_NETWORK_SRV_PRIVATE_IPV4="10.172.${CLIENT_ID}.25"

CERTBOT_CERTIFICATE_TYPE="wildcard"
CERTBOT_CERTIFICATE_PLUGIN="cloudflare"
CERTBOT_CERTIFICATE_SITE_NAME=""
CERTBOT_CERTIFICATE_SITE_DOMAIN="${DNS_SERVER_DOMAIN}"
CERTBOT_CERTIFICATE_EMAIL="sysadmin@${CERTBOT_CERTIFICATE_SITE_DOMAIN}"
CERTBOT_CERTIFICATE_WEBROOT=""
CERTBOT_CERTIFICATE_API_TOKEN=""  